* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #00C0FF;
    font-family: Arial, sans-serif; /* Fonte padrão */
    display: flex;
    flex-direction: column;
    height: 100vh;
}

#myChart {
    margin-top: 50%;
}

nav {
    height: 20vh;
    background: linear-gradient(to bottom, #0091ff , #00A3FF , #00C0FF);
    display: flex;
    align-items: center;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

main {
    height: 80vh;
    background: #00C0FF;
    font-family: Arial, sans-serif; /* Fonte padrão */
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.wtt{
    margin-top: 10px;
    height: 10vh;
}

h2{
    font-size: 20px;

}

.offcanvas-body,
.offcanvas-end{
    background: linear-gradient(to bottom, #0091ff , #00A3FF , #00C0FF);
}